#btn_id1 {
  border-style: solid;
  border-color: blue;
  color: blue;
  background-color: white;
  border-radius: 5px;
}

#btn_id2 {
  border-style: none;
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

#hr_tag {
  max-width: 600px;
  margin: 30px auto;
}

.card_how_it_works {
  /* display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; */
  text-align: center;
  border-style: none;
  margin: auto;
}

.blue_box {
  margin: auto;
}

.nav-link {
  color: black;
}
